use strict;
use warnings;
use SPVM::Builder::Config;

=pod 

  spvmcc -I network_lib/SPVM -o my_minist_app my_minist_app.spvm
  
  ./my_minist_app

=cut

=pod
  
  # Dependency
  cpanm SPVM
  cpanm SPVM::Errno
  cpanm SPVM::File::Basename
  cpanm SPVM::File::Spec
  cpanm SPVM::FindBin
  cpanm SPVM::Math
  cpanm SPVM::Regex
  cpanm SPVM::Sys
  cpanm SPVM::Time::Local
  cpanm SPVM::Time::Piece
  cpanm SPVM::IO
  cpanm SPVM::R

=cut

my $config = SPVM::Builder::Config::Exe->new(file => __FILE__);

{
  $config->add_lib("m");
}

{
  $config->use_resource('Resource::Eigen');
}

{
  $config->use_resource('Resource::SocketUtil');

  if ($^O eq 'MSWin32') {
    $config->add_lib('wsock32', 'ws2_32');
  }
}

{
  $config->use_resource('Resource::RE2');
  
  if ($^O eq 'MSWin32') {
    $config->add_static_lib('stdc++', 'winpthread', 'gcc');
  }
  else {
    $config->add_lib('stdc++');
  }
}

$config;
