use strict;
use warnings;
use SPVM::Builder::Config;

=pod 

  spvmcc -I network_lib/SPVM -o my_miniest_app my_miniest_app.spvm
  
  ./my_miniest_app

=cut

my $config = SPVM::Builder::Config::Exe->new(file => __FILE__);

{
  $config->add_lib("m");
}

{
  $config->use_resource('Resource::Eigen');
}

{
  $config->use_resource('Resource::SocketUtil');

  if ($^O eq 'MSWin32') {
    $config->add_lib('wsock32', 'ws2_32');
  }
}

{
  $config->use_resource('Resource::RE2');
  
  if ($^O eq 'MSWin32') {
    $config->add_static_lib('stdc++', 'winpthread', 'gcc');
  }
  else {
    $config->add_lib('stdc++');
  }
}

$config;
