<h2> Handwriting recognition with Perl + deep learning </ h2>

Performs handwriting recognition with Perl + deep learning.

One purpose of this article is to test the functionality of SPVM.

Write a deep learning process in Perl, rewrite it to <a href="https://metacpan.org/pod/SPVM/"> SPVM </a>, transpile it to C, and finally cuda and cuBLAS The goal is to replace it with a GUP operation using.

The sites to refer to are as follows.

<a href="https://nnadl-ja.github.io/nnadl_site_ja/index.html"> Neural networks and deep learning </a>

It implements what is written on this site in Perl and raises the accuracy of handwriting recognition to the level described on this site.

The algorithm for static pattern recognition by deep learning is general purpose, so if you copy and paste this page, I would like to configure it so that static pattern recognition can be performed even for other classification problems.

We plan to make it a practical sample that can be understood by the knowledge of software engineers, without using difficult mathematical concepts as much as possible.