<h2> tanh function --activation function </ h2>

Let's write the tanh function in Perl. The tanh function is one of the <a href="/blog/20200902120907.html"> activation functions </a>.

The tanh function is one of the trigonometric functions. <a href="https://perlzemi.com/blog/20080916122166.html"> Math :: Trig </a> Defined as a function of the module.

<pre>
use strict;
use warnings;

# Import tanh function
use Math :: Trig'tanh';

my $ tanh = tanh 3;

# 0.995054753686731
print "$ tanh \ n";
</ pre>

<h3> Derivative of tanh function </ h3>

Please refer to the following for the derivative of the tanh function.

<ul>
   <li> <a href="/blog/20201018123741.html"> Derivative of the tanh function </a> </ li>
</ ul>