<h2>Deep Learning using SPVM</h2>

SPVM is a Perl-like static typed programing language that can generate an executable file.

<h4>A Perl Program using SPVM partially version 1 - MNIST</h4>

<a href="/blog/20200926161518.html">A Perl deep learning program</a> is rewrriten using SPVM partially. Performance has improved.

<ul>
  <li><a href="https://github.com/yuki-kimoto/en_deeplearning/blob/master/examples/deep_learning_spvm.pl">deep_learning_spvm.pl</a></li>
  <li><a href="https://github.com/yuki-kimoto/en_deeplearning/blob/master/examples/network_lib/SPVM/MyAIUtil.spvm">MyAIUtil</a></li>
  <li><a href="https://github.com/yuki-kimoto/en_deeplearning/blob/master/examples/network_lib/SPVM/MyAIUtil/FloatMatrix.spvm">MyAIUtil::FloatMatrix</a></li>
</ul>

<h4>A Perl Program using SPVM partially version 2 - MNIST</h4>

The above program is rewritten using SPVM partially. Performance is even better.

<ul>
  <li><a href="https://github.com/yuki-kimoto/en_deeplearning/blob/master/examples/deep_learning_spvm2.pl">deep_learning_spvm2.pl</a></li>
  <li><a href="https://github.com/yuki-kimoto/en_deeplearning/blob/master/examples/network_lib/SPVM/MyAIUtil.spvm">MyAIUtil</a></li>
  <li><a href="https://github.com/yuki-kimoto/en_deeplearning/blob/master/examples/network_lib/SPVM/MyAIUtil/FloatMatrix.spvm">MyAIUtil::FloatMatrix</a></li>
</ul>

<h4>SPVM program - MNIST</h4>

The above program is rewritten using full SPVM with <a href="https://metacpan.org/pod/SPVM::R">R</a> class to manipulate n-dimentional array. Performance has improved and an executable file can be generated.

<ul>
  <li><a href="https://github.com/yuki-kimoto/en_deeplearning/blob/master/examples/my_minist_app.spvm">my_minist_app.spvm</a></li>
  <li><a href="https://github.com/yuki-kimoto/en_deeplearning/blob/master/examples/my_minist_app.config">my_minist_app.config</a></li>
  <li><a href="https://github.com/yuki-kimoto/en_deeplearning/blob/master/examples/network_lib/SPVM/MyAIUtil2.spvm">MyAIUtil2.spvm</a></li>
</ul>

Install dependent modules.

<pre>
cpanm SPVM
cpanm SPVM::Errno
cpanm SPVM::File::Basename
cpanm SPVM::File::Spec
cpanm SPVM::FindBin
cpanm SPVM::Math
cpanm SPVM::Regex
cpanm SPVM::Sys
cpanm SPVM::Time::Local
cpanm SPVM::Time::Piece
cpanm SPVM::IO
cpanm SPVM::R
</pre>

Execute an SPVM program.

<pre>
spvm -I network_lib/SPVM my_minist_app.spvm
</pre>

Generate an executable file and execute it.

<pre>
spvmcc -I network_lib/SPVM -o my_minist_app my_minist_app.spvm

./my_minist_app
</pre>
