<h2> Accelerate deep learning using SPVM </ h2>

Deep learning acceleration using <a href="https://metacpan.org/pod/SPVM"> SPVM </a>. MNIST handwriting recognition deep learning is written in SPVM and called from <a href="https://perlzemi.com/"> Perl </a>. SPVM is transpiled to C, so <a href="https://en.c.perlzemi.com/"> C </a> performance is achieved.

<h4> Accelerating deep learning using SPVM-Part 1 Partial SPVM </ h4>

Part of the source code for MNIST handwriting recognition deep learning written in <a href="/blog/20200926161518.html"> Pure Perl </a> has been rewritten using SPVM.

In addition, it was rewritten to SPVM in earnest. Performance has improved dramatically.

<a href="https://github.com/yuki-kimoto/perlzemideeplearning/tree/master/examples"> Deep learning acceleration sample using SPVM </a> <b> deep_learning_spvm.pl </ b> >.

<h4> Accelerating deep learning using SPVM-Part 2 Full-scale SPVM conversion </ h4>

In addition, it was rewritten to SPVM in earnest. Performance is even better.

<a href="https://github.com/yuki-kimoto/perlzemideeplearning/tree/master/examples"> Samples for speeding up deep learning using SPVM </a> <b> deep_learning_spvm2.pl </ b> >.