<h2> What is deep learning? </H2>

Deep learning is an area of ​​machine learning.

Machine learning automatically adjusts the parameters to get the correct output from the input. Since the mechanism that automatically adjusts the parameters is implemented as a program, learning proceeds mechanically.

For example, if the input is a "picture of a person", the output is that this person is "wearing glasses" and "not wearing glasses". This is a basic field called pattern recognition.

The goal of machine learning is to increase the percentage of correct answers about whether or not you are wearing glasses.

Deep learning is machine learning that uses neural networks to imitate the mechanism of human neural transmission.

Deep learning, called deep learning in a neural network, is a method of continuously connecting multiple inputs and multiple outputs in multiple stages to obtain the final output.

<pre>
Photo of a person
↓
(x0, x1, x2, x3)
↓
(y0, y1, y2, y3, y4)
↓
(z0, z1, z2)
↓
(Wearing glasses, not wearing glasses)
</pre>

In fact, x1 to xn are much longer. It is even longer from y1 to yk. The number of x and the number of y can be different, and in general, they should be different.

Also, the number of stages is x, y, z in this example, but this is also longer.

The point is to get the output by connecting multiple inputs and multiple outputs in multiple stages from the input.

If we were to make something that corresponds to 10 billion neurons, the number of neurons in each layer would be about 100 million, and the number of layers would be about 100 layers.

<h3> Explanation without using mathematical words as much as possible </h3>

In the introduction to deep learning learned with Perl, we will explain with as few math words as possible, assuming only high school math.

First, a programming sample presents the inputs and outputs. After that, I will explain as much as I can understand in high school mathematics as a supplement.

"Well, can you do that?"

"The contents are all source code !!! Even if you don't understand math completely, if you are an engineer, you should be able to read the code !!!"

Enjoy after trying it.